
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Fitness</h4>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">workouts</a></li>
                    <li><a href="#">HealthyLiving</a></li>
                    <li><a href="#">Programs</a></li>
                    <li><a href="#">Membership</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Workouts</h4>
                <ul>
                <li><a ref="#">Workout video</a></li>
                <li><a ref="#">Custom Workouts</a></li>
                <!-- <li><a ref="#">returns</a></li>
                <li><a ref="#">order status</a></li>
                 -->

            </ul>
            </div>
            <div class="footer-col">
                <h4>HealthyLiving</h4>
                <ul>
                <li><a ref="#">Fitness</a></li>
                <li><a ref="#">Health</a></li>
                <li><a ref="#">Nutrition</a></li>
                <li><a ref="#">Healthy Recipes</a></li>
                <li><a ref="#">Experts</a></li>

            </ul>
            </div> 
            <div class="footer-col">
                <h4>Membership</h4>
                <ul>
                <li><a ref="#">FB PLUS</a></li>
                <li><a ref="#">COMMUNITY</a></li>
                <li><a ref="#">BLOG</a></li>
                <li><a ref="#">CONTACT US</a></li>
                <li><a ref="#">FAQ</a></li>
                <li><a ref="#">STORE</a></li>
            </ul>
            </div> 
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a ref="#"><i class="fab fa-facebook-f"></i></a>
                    <a ref="#"><i class="fab fa-twitter"></i></a>
                    <a ref="#"><i class="fab fa-instagram"></i></a>
                    <a ref="#"><i class="fab fa-linkedin-in"></i></a>

                </div>
              
            
            </div> 
        </div>
    </div>
</footer>
