<mat-toolbar  style="height: 450;">


  <!-- <span><img src="../../../assets/nav-logo.png" alt="logo" width="100" /></span> -->
  <a class="navbar-brand" href="#">
    <img src="../../../assets/logo1.jfif"  class="logo">
  </a>
  <a href="" class="log" style="padding-left: 20px;">FITTY<span>FIT</span></a>
  <span class="example-spacer"></span>
  
  <a
  routerLink="/home" 
  mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" style="right: 580px;">
    <!-- <mat-icon>house</mat-icon> -->
    Home
</a>

  <a
routerLink="/about" 
mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" style="right: 540px;">
  About Us
</a>
  <a
routerLink="/workouts" 
mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" style="right: 470px;">
  workouts
</a>
<a
routerLink="/community" 
mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" style="right: 400px;">
  Contact Us
</a>
 <a
routerLink=" " 
mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" style="right: 310px;" >
  HealthyLiving
</a>
<!-- <a
routerLink=" " 
mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" style="right: 580px;">
  Programs
</a> -->


  <a
  [routerLink]="'/login'" mat-icon-button class="example-icon favorite-icon" 
  aria-label="Example icon-button with heart icon" style="right: 80px;">
    login
</a>
  <a 
  [routerLink]="'/signup'"mat-icon-button class="example-icon favorite-icon " 
  aria-label="Example icon-button with heart icon" style="right: 60px;">
  register
   
  </a>
  <div class="icon">
    <a href="#" class="btn">Become a member</a>
    <div id="menu-btn" class="fas fa-bars"></div>
  </div>
</mat-toolbar> 


