.example-spacer {
    flex: 1 1 auto;
  }
  
   /* .extra{
    flex: 1 1 auto;
}

.logo{
    margin-left: 20px;
}
.side-nav {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    background:white;
  }
  .mat-sidenav{
    width: 200px;
    padding: 20px;
  }
  .mat-sidenav-content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }
  button span {
    margin: 10px;
  } */
  .logo{
    width:50px;
    cursor: pointer;
    border-radius:30px;
    padding-left: auto;
}
.log{
  font-size: 1.5rem;
  color: lightcoral;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1rem;
  right: 100px;
}
.log span{
  color: grey;
  text-transform: uppercase;
}
.icon div:hover{
  transform: rotate(180deg);
  color: palevioletred;
}
.icon a{
  font-size: 1rem;
  letter-spacing: .1rem;
  color:aliceblue;
  background: palevioletred;
  font-weight: 100;
  text-transform: uppercase;
  padding: .8rem 1rem;
  border: none;
}
.icon a:hover{
  color: palevioletred;
  background: #fff;
}
#menu-btn{
  display: none;
}
