
.info-panel.text .heading{
    text-align: center;
    padding: 145px 0px 125px 0px;
}
.info-panel.text .heading{
    font-weight: 200;
    margin-bottom: 30px;
    line-height: 1.208em;
    letter-spacing: -0.02em;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
}
.heading -light {
    font-weight: 400;
}
.heading -huge {
    font-size: 4.8em;
    font-weight: 400;
    letter-spacing: -0.5px;
}
h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}