<div class="section">
    <div class="containter">
        <div class="title">
            <h1><b>About Us</b></h1>
        </div>
        <img src="../../../assets/im1.jpg" alt="img" width="1700">
        <div class="contect" >
            <section class="info-pannel text" >
            <div class="article">
                <h2 class="heading -huge -light">Created to help you live a better, happier, healthier life.</h2>
                <p class="nopad">
                    "We believe fitness should be accessible to everyone, everywhere, regardless of income level or access to a gym.
                     That's why we offer hundreds of free, full-length workout videos, the most affordable and effective workout
                      programs on the web, meal plans, and helpful health, nutrition and fitness information.


                </p>
            </div>
        </section>
        </div>
    </div>
</div>
