/* .full-width{
    width: 100%;
} */
html, body{
    margin: 0;
    padding: 0;
    /* background: url("../../../assets/image.jpeg"); */
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.box{
    width: 320px;
    height: 420px;
    background: #a8a6a6;
    color: #fff;
    top:50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
}
.banner{
    width:100%;
    height: 100vh;
    
background-image: linear-gradient(rgba(180, 175, 175, 0.75),rgba(163, 156, 156, 0.75)),url("https://img.freepik.com/free-photo/top-view-frame-with-equipment_23-2148531415.jpg");
background-size: cover;
background-position: center;

}