<!-- <div class="bootstrap-wrapper">
    <div class="container text-center" >
        <div class="row" style="margin-top: 20px ;">
            <div class="col-md-6 offset-md-3">
                <mat-card style="width: 500px;">
                <div class="container text-center" >

                    
                    <img src="../../../assets/login.jfif" alt="logo" width="150"/>                
                </div>
                <h1 class="text-center">Login Here !!</h1>
               
                <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" novalidate>
                  <mat-form-field class="full-width"  appearance="outline">
                    <mat-label>Username</mat-label>
                  
                    <span class="material-symbols-sharp">  <mat-icon>supervised_user_circle</mat-icon></span> 
                    
              
                  
                    <input type="text" name="username" ngModel #username="ngModel" matInput placeholder="Enter here"  required>
                    <mat-hint> Valid User Name </mat-hint>
                </mat-form-field><br>
               
                
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Password</mat-label>
                    <span class="material-symbols-sharp">
                        lock_clock
                        </span>
                    <input type="password" name="password" ngModel #password="ngModel" matInput placeholder="Enter here" required 
                    minlength="8" maxlength="15">
                </mat-form-field>
                <div *ngIf="password.errors?.['required'] && password.touched">
                    <p style="font-weight: bold;"> Password is required </p>
                </div>
                <div *ngIf="password.errors?.['minlength'] && password.touched">
                    <p style="font-weight: bold;"> Password must be atleast 8 characters</p>
                </div>
                 
                <div class="container text-center">
                    <button mat-raised-button color="primary" type="submit">Login</button>
                    <button class="ml10" mat-raised-button color="accent" type="submit">Reset</button>
                </div>

            </form>
        </mat-card>
            </div>
        </div>
    </div>
</div>         -->
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="login.component.css">
</head>

<div class="bootstrap-wrapper">
    <div class="banner">
   
<div class="container text-center"  >
    <div class="box" style="background: url(../../../assets/image.jpeg);">
    <img src="../../../assets/login.jfif" alt="logo" width="100" />     
    <div class="row" style="margin-top: 20px ;">
        <div class="col-md-6 offset-md-3">
    <br>

        <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" novalidate>
            

            <div class="input-group">
                <span class="input-group-addon"> <i class="glyphicon glyphicon-user"></i> </span>
                <input class="form-control" type="text" name="username" ngModel placeholder="Enter Username" #username="ngModel" required minlength="3" maxlength="20" style="width: 150px;"/> <br />
            </div>
            <br />

            <div class="input-group"> 
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input class="form-control" name="password" ngModel placeholder="Enter Password" #password="ngModel" required minlength="8" maxlength="15" style="width: 150px; "/> <br />
            </div>
            <br />

            <button  type="submit"   class="btn btn-primary">Login</button><br><br>

            <a href="#">Forgot Password</a><br><br>
            <a href="/signup">Don't have an account</a>
            
        
        </form>

     

        <div>
            <div *ngIf="username.errors?.['required'] && username.touched"><h3>Please Enter username</h3></div>
            <div *ngIf="username.errors?.['minlength'] && username.touched"><h3>Please Enter Atleast 3 Characters for username</h3></div>


            <div *ngIf="password.errors?.['required'] && password.touched"><h3>Please Enter Password</h3></div>
            <div *ngIf="password.errors?.['minlength'] && password.touched"><h3>Please Enter Atleast 4 Characters for Password</h3></div>

        </div>

    </div>
</div>
</div>
</div>
</div>
