<app-navbar></app-navbar>
<!-- <marquee style="color: red;"> <h1> Welcome to Fitness Website</h1> </marquee> -->
<router-outlet></router-outlet>
<app-footer></app-footer>

<!-- <mat-toolbar color="primary">
    <button mat-icon-button (click)="nav.toggle()"><mat-icon>menu</mat-icon></button>
    <div class="logo">Logo</div>
    <div class="extra"></div>
    <mat-icon>share</mat-icon>
    <a
    [routerLink]="'/login'" mat-icon-button class="example-icon favorite-icon ml30" 
    aria-label="Example icon-button with heart icon">
      login
  </a>
    <a 
    [routerLink]="'/signup'"mat-icon-button class="example-icon favorite-icon mr40 ml20" 
    aria-label="Example icon-button with heart icon">
    register
     
    </a>
</mat-toolbar>

<mat-sidenav-container class="side-nav">
    <mat-sidenav #nav>
        <a [routerLink]="['home']" color="primary">
            <button mat-button>
                <mat-icon>home</mat-icon>
                <span>Home</span>
            </button>
        </a>
        <a [routerLink]="['about']" color="primary">
            <button mat-button>
                <mat-icon>info</mat-icon>
                <span>About Us</span>
            </button>
        </a>
        
        <a [routerLink]="['workouts']" color="primary">
            <button mat-button>
                <mat-icon>fitness_center</mat-icon>
                <span>Workouts</span>
            </button>
        </a>
        <a [routerLink]="['community']" color="primary">
            <button mat-button>
                <mat-icon>contacts</mat-icon>
                <span>Community</span>
            </button>
        </a>
        <!-- <a [routerLink]="['home']" color="primary">
            <button mat-button>
                <mat-icon>home</mat-icon>
                <span>Home</span>
            </button>
        </a>
        <a [routerLink]="['home']" color="primary">
            <button mat-button>
                <mat-icon>home</mat-icon>
                <span>Home</span>
            </button>
        </a> -->

    <!-- </mat-sidenav>
    <mat-sidenav-content>Main content</mat-sidenav-content>
  </mat-sidenav-container> --> 