
  <body>
    


<div class="container">
  <div id="carouselExampleAutoplaying" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/image1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/image2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
      <a href="https://open.spotify.com/album/3UyUieub1ngo7v718dfXSF?si=RIj-3tnEShmpcT5b9kKXoA">  <img src="../../../assets/music.jpg" class="d-block w-100" alt="..."> </a>
    
      <div class="carousel-caption d-none d-md-block">
        <h1>Tap On here!! for some  music 🎵 </h1>
        <p>Some representative placeholder content for the third slide.</p>
      </div>

    </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


 
 
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="../../../assets/cardio.jpg" alt="Card image cap">
    <div class="card-body">
      <h1 class="card-title">CARDIO</h1>
      <p class="card-text">Getting your cardio in on the reg can improve heart health by lowering cholesterol levels and reducing your risk of heart disease. How? Just like doing a biceps curl trains your arm muscles, cardio exercise challenges your heart. This helps blood move more efficiently throughout your body and strengthens your heart.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Read more</small>
    </div>  
  </div>

  <div class="card">
    <img class="card-img-top" src="../../../assets/strength" alt="Card image cap">
    <div class="card-body">
      <h1 class="card-title">STRENGTH TRAINING</h1>
      <p class="card-text">Strength training may enhance your quality of life and improve your ability to do everyday activities. Strength training can also protect your joints from injury. Building muscle also can contribute to better balance and may reduce your risk of falls. This can help you maintain independence as you age.
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Read more</small>
    </div>
  </div> <br>

  <div class="card">
    <img class="card-img-top" src="../../../assets/HIIT.jpg" alt="Card image cap">
    <div class="card-body">
      <h1 class="card-title">HIIT</h1>
      <p class="card-text">High-intensity interval training (HIIT) is a method of exercising that involves short, fast bursts of exercise interspersed with periods of rest. It has been praised for its numerous health benefits and it can help you to get in shape quickly.
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Read more</small>
    </div>
  </div>
</div> 



<div class="card-deck crd">
  <div class="card">
    <img class="card-img-top" src="../../../assets/aerobic" alt="Card image cap">
    <div class="card-body">
      <h1 class="card-title">AEROBIC EXERCISES</h1>
      <p class="card-text">Aerobic exercise provides cardiovascular conditioning. The term aerobic actually means "with oxygen," which means that breathing controls the amount of oxygen that can make it to the muscles to help them burn fuel and move.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Read more</small>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="../../../assets/weightloss.avif" alt="Card image cap">
    <div class="card-body">
      <h1 class="card-title">Lose Weight With these exercises</h1>
      <p class="card-text">Even a modest weight loss of 5% to 10% of your total body weight is likely to produce health benefits, such as improvements in blood pressure, blood cholesterol, and blood sugars.1</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Read more</small>
    </div>
  </div> <br>

  <div class="card">
    <img class="card-img-top" src="../../../assets/image2.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Read more</small>
    </div>
  </div>
</div>


</div>

</body>
 