body{
    width:100%;
    height: 100vh;
    min-height: 100%;
    overflow: auto;
background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSb85oSk81H4dMJ-kOLlphhCfIe4lzImx-78CmQa8ev396aJTChJlDSIW9SYaeMW1BFYws&usqp=CAU");
background-size: cover;
background-position: center;
display:flex;
 position: relative;

}
/* .content{
    width: 100%;
    text-align: center;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    color: #fff;

}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    background: transparent;
    border: 2px solid #009688;
    border-radius: 25px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background:#009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
button a{
    text-decoration: none;
    color: #fff;
} */
 .carousel-inner{
    width: 100%;
    height: 100vh;
    border:solid 2px black;
    border-radius:5px;
    margin-left:10px;
    margin-top: 10px;

} 
 
button:hover span{
color:#009688;
 }
.card-deck{
    margin-top:300px;
    margin-bottom: 20px;
}
.crd{
    margin-top: 20px;
}
.carousel-caption{
    margin-bottom: 200px;
    text-align: left;
}

 