/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; 
background-color:white;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
 }

 .text-center{
   text-align: center; 
 }
 .ml20{
  margin-left: 20px !important;
 }
 .mt20{
  margin-top: 20px !important;
 }
 .mb20{
  margin-bottom: 20px !important;
 }
 .mr20{
  margin-right: 20px !important;
 }
 .ml10{
  margin-left: 10px !important;
 }
 .mt10{
  margin-top: 10px !important;
 }
 .mb10{
  margin-bottom: 10px !important;
 }
 .mr10{
  margin-right: 10px !important;
 }
 .ml30{
  margin-left: 30px !important;
 }
 .mt30{
  margin-top: 30px !important;
 }
 .mb30{
  margin-bottom: 30px !important;
 }
 .mr30{
  margin-right: 30px !important;
 }
 .mr40{
  margin-right: 40px !important;
 }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
